<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_path "architecture-buildings-smog.jpg" %>');">
  <div class="banner-content">
    <h1>What HeroesToo Does</h1>
  </div>
</div>
<div class="heroestoo-programs">
  <h2 style="text-align: center; color: white;">Our Programs</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card-two">
        <div class="card-two-contents">
          <div class="card-two-image">
            <%= image_tag "leaves.jpg" %>
          </div>
          <div class="card-two-title">
            <span><h3>HeroesToo EcoPledge Education Program</h3></span>
          </div>
          <div class="card-two-description">
            <span><p>We visit school, colleges, and universities providing eco-education and environmental awareness workshops.</p></span>
          </div>
          <div class="card-two-readmore">
            <span><a href="#">READ MORE</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card-two">
        <div class="card-two-contents">
            <div class="card-two-image">
              <%= image_tag "citrus.jpg" %>
            </div>
            <div class="card-two-title">
              <span><h3>HeroesToo EcoPledge</h3></span>
            </div>
            <div class="card-two-description" style="top: 255px;">
              <span><p>Our unique and successful, tool to restore and preserve our environment through encouraging each and every individual to be aware of their habits and reduce their resource consumption.</p></span>
            </div>
            <div class="card-two-readmore">
              <span><a href="#">READ MORE</a></span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card-two">
        <div class="card-two-contents">
          <div class="card-two-image">
            <%= image_tag "art-hand.jpg" %>
          </div>
          <div class="card-two-title">
            <span><h3>HeroesToo Reforestation Program</h3></span>
          </div>
          <div class="card-two-description">
            <span><p>Our tree-planting program was initiated on 27th July 2010.</p></span>
          </div>
          <div class="card-two-readmore">
            <span><a href="#">READ MORE</a></span>
          </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card-two">
        <div class="card-two-contents">
          <div class="card-two-image">
            <%= image_tag "straws.jpg" %>
          </div>
          <div class="card-two-title">
            <span><h3>Other Programs</h3></span>
          </div>
          <div class="card-two-description">
            <span><p>Throughout the years we have come up with plenty of other programs to improve the environment.</p></span>
          </div>
          <div class="card-two-readmore">
            <span><a href="#">READ MORE</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
